<div class="book_create_page">
  <div class="book_create_box">
    <div class="form_title">
      Create book
    </div>
    <div>
      <form #createBookForm="ngForm" novalidate (ngSubmit)="createBook(createBookForm)">
      <mat-form-field class="input_wrapper" appearance="outline">
        <mat-label>Book title</mat-label>
        <input name="title" matInput ngModel>
      </mat-form-field>
      <mat-form-field class="input_wrapper" appearance="outline">
        <mat-label>Book price</mat-label>
        <input name="price" matInput type="number" ngModel>
      </mat-form-field>
      <mat-form-field class="input_wrapper" appearance="outline" >
        <mat-label>Book year</mat-label>
        <input name="year" matInput type="number" ngModel>
      </mat-form-field>
      <mat-form-field class="input_wrapper" appearance="outline">
        <mat-label>Description</mat-label>
        <textarea name="description" matInput ngModel></textarea>
      </mat-form-field>
      <div class="button_box">
        <button type="submit" name="Create" mat-raised-button color="warn">Create new book</button>
      </div>
      </form>
    </div>
  </div>
</div>
