@import "src/typography";
@import "src/color-theme";

.book_preview_page {
  display: flex;
  min-height: 100vh;
  padding: 32px;
}

.book_preview_box {
  margin: auto;
  width: 400px;
  padding: 30px 20px;
  background-color: $white;
  border: 1px solid $shadow;
  display: flex;
  flex-direction: column;
  overflow: scroll !important;
}

.title {
  @extend %typography-20;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 20px;
}

.form_box {
  width: 100%;
}

.button_box {
  display: flex;
  justify-content: center;
}
